{% extends "./base.html.twig" %}

{% block body %}
<div class="">
    <h1 class="formh1">
        Edit Movie
    </h1>
        <img class="imgForm" src="{{post.img}}" width="350" height="250">
        {{form_start(form)}}
            {{form_widget(form)}}
            
            <button    
                type="submit"
                class="but">
                Submit Post
            </button>
        {{form_end(form)}}
</div>
{% endblock %}