*{
    margin: 0;
    padding: 0;
}

header{
    border-bottom: 2px black solid;
    background-color: gray;
    color: white;
}
footer{
    border-top: 2px black solid;
    background-color: gray;
    color: white;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 20px;
    
}

.post{
    display: flex;
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content{
    background-color: gray;
    color: white;
    height: 250px;
    width: 450px;
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
}
.title{
    text-align: center;
}
.snipet> p{
    overflow: hidden;
    max-height: 162px;
}
.buttons{
    text-align: left;
    justify-content: left;
    margin-top: 10px;
    margin-left: 1px;
    border-radius: 4px;
    position: absolute;
    bottom: 5px;
    left: 2px;
    
}
.buttons > button{
    padding: 2px;
}

.item{
    text-align: center;
    margin-bottom: 50px;
}

.item > .title{
    font-size: xx-large;
}
.item> img{
    margin-bottom: 10px;
}

.text{
    font-size: x-large;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.article > button{
    margin-top: 20px;
    height: 30px;
    width: 60px;
    font-size: larger;

}

.edit{
    color: white;
    background-color: blue;
    border: 1px blue solid;
    border-radius: 8px;

}
.delete{
    color: white;
    background-color: red;
    border: 1px red solid;
    border-radius: 8px;
}

.more{
    color: white;
    background-color: green;
    border: 1px green solid;
    border-radius: 8px;
}

a{
    text-decoration: none;
    color: white;
}